<!DOCTYPE html>
<html>

<head>

  <title>Han's Calculator</title>
{{!-- 
Require the files needed for the app --}}  

  <link rel="stylesheet" href="css/app.css">
  <script src="js/calc-functions.js" type="text/javascript"></script>

</head>

<body>

This is a header which will appear on every page

<h1 id="header">CalcIt</h1>

    {{{body}}}


This is a footer which will appear on every page    

</body>

</html>